.search-bar{
  margin: 20px;
  text-align: center;
}
.search-bar input{
  width: 75%;
  height: 35px;
  font-size: 1.1em;
  /* border-radius: 5px; */
}
.video-item img{
  max-width: 64px;
}
.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.video-detail .detail-title{
  font-weight: bold;
}
.list-group{
  padding-left: .9375rem !important;
}
.list-group-item{
  cursor: pointer;
  margin-bottom: 10px !important;
  border-radius: .25rem;
}
.list-group-item:hover{
  background-color: #eee;
}
